<div class="add-client-page">
  <div class="container page">
    <div class="row">


      <list-errors [errors]="errors"></list-errors>

      <form [formGroup]="clientForm">

        <fieldset>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <fieldset class="form-group">
                <md-input-container underlineRef>
                  <input mdInput
                  formControlName="firstName"
                  type="text"
                  placeholder="Clients first name" />
                </md-input-container>
              </fieldset>

              <fieldset class="form-group">
                <md-input-container underlineRef>
                  <input mdInput
                  formControlName="lastName"
                  type="text"
                  placeholder="Clients last name" />
                </md-input-container>
              </fieldset>

              <fieldset class="form-group">
                <md-input-container underlineRef>
                  <input mdInput
                  formControlName="telephone"
                  type="text"
                  placeholder="telephone (xxxx/xx xx xx)" />
                </md-input-container>
              </fieldset>

              <fieldset class="form-group">
                <md-input-container underlineRef >
                  <input mdInput formControlName="birthday" 
                  type="date" 
                  class="form-control" 
                  placeholder="birthday (dd-mm-yyyy)">
                </md-input-container>
              </fieldset>        
            </div>
            <div class="col-md-6 col-xs-12">
              <fieldset class="form-group">
                <md-input-container underlineRef>
                  <input mdInput
                  formControlName="street"
                  type="text"
                  placeholder="street + number" />
                </md-input-container>
              </fieldset>

              <fieldset class="form-group">
                <md-input-container underlineRef>
                  <input mdInput
                  formControlName="postalCode"
                  type="number"
                  placeholder="postal code"
                  min="1000"
                  max="9999" />
                </md-input-container>
              </fieldset>

              <fieldset class="form-group">
                <md-input-container underlineRef>
                  <input mdInput
                  formControlName="city"
                  type="text"
                  placeholder="city" />
                </md-input-container>
              </fieldset>
            </div>
          </div>
          <button md-raised-button color="primary" (click)="addClient()">
            Add Client
          </button>
          <!-- <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="addClient()">
            Add Client
          </button> -->
        </fieldset>
      </form>

      
      
    </div>
  </div>
</div>
