<div class="client-page">
    <md-checkbox>
        check me!
    </md-checkbox>
    <h1>{{ client.firstName }}</h1>
    <h2>{{ client.lastName }}</h2>
    <div>{{ client.telephone }}</div>
    <div>{{ client.birthday }}</div>
    <div>{{ client.street }} {{ client.postalCode }} {{ client.city }}</div>
    {{ client.image }}
    <img src="{{client.author.image}}" style="width:100px;height:100px;">
    <div> </div>
    <session-list [slug]= "client.slug"></session-list>
    <button class="btn btn-lg pull-xs-left btn-danger" type="button" (click)="remove_client(client.slug)">
        remove client
    </button>
</div>