<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-6" *ngFor="let client of results">
            <a [routerLink]="['/clients', client.slug]">
                <mat-card  >
                    <mat-card-title>{{ client.firstName }}</mat-card-title>
                    <mat-card-subtitle>{{ client.lastName }}</mat-card-subtitle>
                    <mat-card-content>
                        {{ client.birthday | date:'dd/MM/yyyy'}} <br>
                        {{ client.street }} {{ client.postalCode }} {{ client.city }} <br>
                        {{ client.telephone }}
                    </mat-card-content>
                </mat-card>
                <br>
            </a>
        </div>
        <div class="col-1"></div>
    </div>
</div>


<!-- 
  <div class="row">
    <div class="col-sm-12 col-md-6">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div> -->

<!-- <ul>
    <li *ngFor="let client of results">
        <a [routerLink]="['/clients', client.slug]">
            <h1>{{ client.firstName }}</h1>
            <p>{{ client.lastName }}</p>
            <span>Read more...</span>
        </a>
    </li>
</ul>
 -->